:host {
  padding: 10px;
}

.mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
  white-space: pre-wrap;
}

.mat-list .mat-list-item {
  height:initial;
}

mat-form-field {
  width: 100%;
}

.found-group {
  margin-top: 20px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}
