<div *ngIf="user">
  <mat-list role="list">
    <mat-list-item class="group-info-item" role="listitem">
      <mat-icon mat-list-icon>group</mat-icon>
      <div  mat-line *ngIf="!user.own_group && !user.on_group">
        Você pode criar ou participar de um grupo para compartilhar lembretes de
        compras
      </div>
      <div mat-line *ngIf="user.own_group" class="text-justify">
        Você possui um grupo chamado
        <span class="mat-body-strong">"{{ user.own_group.name }}"</span>.
      </div>
      <div mat-line *ngIf="!user.own_group && user.on_group">
        Você se inscreveu no grupo
        <span class="mat-body-strong">"{{ user.on_group.name }}"</span>
      </div>
    </mat-list-item>
  </mat-list>
  <div *ngIf="userHaveGroup()" class="max-width-680 margin-0-auto">
    <!--ng-container *ngIf="contributeur.deb; else newDeb"> ... </ng-container>
    <ng-template #newDeb> ... </ng-template-->
    <app-group-detail
      [group]="getUserGroup()"
      [action]="getAction()"
      [user]="user"
    ></app-group-detail>
  </div>
  <div *ngIf="!userHaveGroup()">
    <div class="max-width-680 margin-0-auto">
      <mat-form-field class="my-input-100" appearance="fill">
        <mat-label>Escreva um nome para criar seu grupo</mat-label>
        <input matInput type="text" [(ngModel)]="myGroupName" />
        <button
          *ngIf="myGroupName"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="myGroupName = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="action-buttons">
        <button
          [disabled]="!myGroupName.length"
          mat-raised-button
          (click)="onCreateClick()"
          color="primary"
        >
          Criar
        </button>
      </div>
    </div>
    <div class="max-width-680 margin-0-auto">
      <mat-form-field class="my-input-100" appearance="fill">
        <mat-label>Escreva o email do criador do grupo para entrar</mat-label>
        <input matInput type="text" [(ngModel)]="ownerEmail" />
        <button
          *ngIf="ownerEmail"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="ownerEmail = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="action-buttons">
        <button
          [disabled]="!ownerEmail.length"
          mat-raised-button
          (click)="onSearchClick()"
          color="primary"
        >
          Procurar
        </button>
      </div>
      <div *ngIf="foundGroup" class="found-group">
        <app-group-detail
          [group]="foundGroup"
          [action]="getAction()"
          (primaryActionEvent)="onSubscribeGroupClick()"
          [user]="user"
        ></app-group-detail>
      </div>
    </div>
  </div>
</div>
