<mat-list role="list">
  <mat-list-item *ngFor="let item of items" role="listitem" class="space-bet">
    <mat-checkbox
      [checked]="item.is_completed"
      (change)="toggleCompleted($event, item)"
      >{{ item.text }}</mat-checkbox
    >
    <div class="action-icons">
      <button mat-icon-button [ngClass]="{'disabled-color': !item.group_id}" (click)="changeGroup(item)">
        <mat-icon style="cursor: pointer;">group</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleArchived(!item.is_archived, item)">
        <mat-icon style="cursor: pointer;"> {{item.is_archived ? 'unarchive' : 'archive'
      }}</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-list-item *ngIf="!items.length" role="listitem"
    ><mat-icon mat-list-icon>sentiment_very_dissatisfied</mat-icon>
    <div mat-line>Nenhum item na lista</div></mat-list-item
  >
</mat-list>
