<!--div class="container" *ngIf="auth.user$ | async as user"-->
<div class="container">
  <mat-card class="my-card">
    <mat-card-header>
      <div
        mat-card-avatar
        [style.background-image]="'url(' + user.picture + ')'"
        [style.background-size]="'cover'"
      ></div>
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-subtitle>{{ user.given_name }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="user.picture" alt="Photo of user profile" />
    <mat-card-content>
      <p>{{ user.email }}</p>
    </mat-card-content>
    <!--mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions-->
  </mat-card>
  <!-- mat-card class="my-card json-card" *ngIf="profileJson">
    <mat-card-content>
      <pre>{{ profileJson }}</pre>
    </mat-card-content>
  </mat-card -->
  <!-- mat-card class="my-card json-card" *ngIf="metadataJson">
    <mat-card-content>
      <pre>{{ metadataJson }}</pre>
    </mat-card-content>
  </mat-card -->
</div>
