<!--div *ngIf="error">{{ error }}</div-->
<div class="row" *ngIf="user">
  <mat-tab-group>
    <mat-tab label="Para Comprar"> <app-tobuy-list [user]="user" [items]="tobuyItems"></app-tobuy-list> </mat-tab>
    <mat-tab label="Comprados"> <app-tobuy-list [user]="user" [items]="boughtItems"></app-tobuy-list> </mat-tab>
    <mat-tab label="Arquivados"> <app-tobuy-list [user]="user" [items]="archivedItems"></app-tobuy-list> </mat-tab>
  </mat-tab-group>
</div>
<button
  class="my-add-fab"
  mat-fab
  color="primary"
  aria-label="Add item button"
  (click)="openAddItemDialog()"
>
  <mat-icon>add</mat-icon>
</button>
